{% extends 'admin/ad/base.html.twig' %}

{% block title %}Administartioln des commentaires!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Administration des commentaires </h1>
        <table class="table table-hover table-dark">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th class="text-center">Note</th>
                <th>Annonce</th>
                <th>Actions</th>
            </tr>
            <tbody>
            {% for  cmt in comments  %}
                <tr>
                    <td>{{ cmt.id }}</td>
                    <td>{{ cmt.createdAt | date('d/m/Y H:i') }}</td>
                    <td>
                        <img class="image_border avatar-mini" src="/usersimages/{{ cmt.author.picture }}" alt="">
                        {{ cmt.author.fullName }}
                    </td>
                    <td>{{ cmt.content | raw}}</td>
                    <td class="text-center">
                        <span class="badge badge-primary">
                        {{ cmt.note }}
                        </span>
                    </td>
                    <td>{{ cmt.ad }}</td>
                    <td>
                        <a href="{{ path('admin_comment_edit', {'id' : cmt.id }) }}" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('admin_comment_delete', {'id' : cmt.id }) }}" onclick="return confirm('Êtes-vous sûr de voulir' +
                         ' ' +
                         'supprimer cet commentaire ?');"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'admin/partials/pagination.html.twig' with {'route' : 'admin_commentaire_index'} %}
    </div>
{% endblock %}
